html
  head
    title= title
  body
    h1= message
    img(src="хттп://ссылка.на/картинку.жпгhttps://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwii9N6CnrHlAhW_wsQBHXcTB94QjRx6BAgBEAQ&url=https%3A%2F%2Fwww.mirf.ru%2Fnews%2Fpervym-zritelyam-kapitan-marvel-bolshe-vsego-ponravilsya-kot-v-komiksah-on-byl-zhutkim-chudovischem&psig=AOvVaw0M2Zom5szKIKNNRbSW3SO8&ust=1571880688183406", alt="Тут есть котик")
    h2= 'Великий кэдсби'
    a(href="./page2") Ссылка на 2 страницу
