html
  head
    title= title
  body
    h1= message
    img(src="https://mfst.igromania.ru/wp-content/uploads/2019/02/960x540.jpg", alt="Тут есть котик")
    h2= 'Великий кэдсби'
    a(href="./page2") Ссылка на 2 страницу
